/* selettori generali*/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  height: 100vh;
}

/*classe per centrare e dimensionare
la pagina*/
.container {
  width: 80%;
  margin: 0 auto;
}
/*margine riga per compensare il
padding colonne*/
.riga{
  margin: 0 -10px;
}
/*selettore per clearfix*/
.riga:after {
  content: "";
  display: table;
  clear: both;

}
/* flotto tutte le colonne a sx
e metto un padding */
[class^="colonna-"] {
  float: left;
  padding: 10px;
}
/* altezza per debug, disabilita
quando fai Milestone 2*/
[class^="colonna-"] > div {
  height: 100px;
}
/*end debug */
/*classi utility per larghezza colonne e
colore sfondi contenuti*/
.colonna-100 {
  width: 100%;
}
.colonna-25 {
  width: 25%;
}
.colonna-50 {
  width: 50%;
}
.bg-pink {
  background-color: #E579E6;
}
.bg-yellow {
  background-color: #E1D67A;
}
.bg-cyan {
  background-color: #ABCFE7;
}
.bg-blue {
  background-color: #0186FD;
}
